{% extends 'base.html' %}
{% load staticfiles %}

{% block title%} About {% endblock%}

{% block body_block%}

	<div class="page-header">

		<h1>About</h1>
	</div>

	<div>

	<p> </strong> .</p>

	<h1> Probando porque mi html no funciona bien </h1>


	Probando con algun texto y la cosa del diccionario {{boldmessage}} <br />

	<img width="140" height="100" src="{% static "images/haunter.jpg" %}" alt="Picture of Rango" />

	</div>

    <p> Visits:{{visits}}</p>

{% endblock%}
{# <!doctype html>
{% load staticfiles %}

	<html>

		<head>
			<title> Mi super pagina de about</title>
		</head>

	<body>

		<h1> Probando porque mi pagina de html no funciona</h1>
		Probando con algun texto y la cosa del diccionario {{boldmessage}} <br />
		<img src="{% static "images/haunter.jpg" %}" alt="Picture of Rango" />







	</body>



	</html>
 #}
